{"http_interactions":[{"request":{"method":"get","uri":"http://services.wine.com/api/beta2/service.svc/json/catalog?filter=product(103159)&apikey=d416c704b94a08167684e8f5d1d7e987","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"content-type":["application/json; charset=utf-8"]},"body":{"encoding":"US-ASCII","string":"{\"Status\":{\"Messages\":[],\"ReturnCode\":0},\"Products\":{\"List\":[{\"Id\":103159,\"Name\":\"Frog's Leap Napa Valley Cabernet Sauvignon 2007\",\"Url\":\"http:\\/\\/www.wine.com\\/V6\\/Frogs-Leap-Napa-Valley-Cabernet-Sauvignon-2007\\/wine\\/103159\\/detail.aspx\",\"Appellation\":{\"Id\":2398,\"Name\":\"Napa Valley\",\"Url\":\"http:\\/\\/www.wine.com\\/v6\\/Napa-Valley\\/wine\\/list.aspx?N=7155+101+2398\",\"Region\":{\"Id\":101,\"Name\":\"California\",\"Url\":\"http:\\/\\/www.wine.com\\/v6\\/California\\/wine\\/list.aspx?N=7155+101\",\"Area\":null}},\"Labels\":[{\"Id\":\"103159m\",\"Name\":\"thumbnail\",\"Url\":\"http:\\/\\/cache.wine.com\\/labels\\/103159m.jpg\"},{\"Id\":\"103159l\",\"Name\":\"large\",\"Url\":\"http:\\/\\/cache.wine.com\\/labels\\/103159l.jpg\"}],\"Type\":\"Wine\",\"Varietal\":{\"Id\":139,\"Name\":\"Cabernet Sauvignon\",\"Url\":\"http:\\/\\/www.wine.com\\/v6\\/Cabernet-Sauvignon\\/wine\\/list.aspx?N=7155+124+139\",\"WineType\":{\"Id\":124,\"Name\":\"Red Wines\",\"Url\":\"http:\\/\\/www.wine.com\\/v6\\/Red-Wines\\/wine\\/list.aspx?N=7155+124\"}},\"Vineyard\":{\"Id\":8794,\"Name\":\"Frog's Leap\",\"Url\":\"http:\\/\\/www.wine.com\\/v6\\/Frogs-Leap\\/learnabout.aspx?winery=21\",\"ImageUrl\":\"http:\\/\\/cache.wine.com\\/aboutwine\\/basics\\/images\\/winerypics\\/21.jpg\",\"GeoLocation\":{\"Latitude\":-360,\"Longitude\":-360,\"Url\":\"http:\\/\\/www.wine.com\\/v6\\/aboutwine\\/mapof.aspx?winery=21\"}},\"Vintage\":\"\",\"Community\":{\"Reviews\":{\"HighestScore\":5,\"List\":[],\"Url\":\"http:\\/\\/www.wine.com\\/V6\\/Frogs-Leap-Napa-Valley-Cabernet-Sauvignon-2007\\/wine\\/103159\\/detail.aspx?pageType=reviews\"},\"Url\":\"http:\\/\\/www.wine.com\\/V6\\/Frogs-Leap-Napa-Valley-Cabernet-Sauvignon-2007\\/wine\\/103159\\/detail.aspx\"},\"Description\":\"\",\"GeoLocation\":{\"Latitude\":-360,\"Longitude\":-360,\"Url\":\"http:\\/\\/www.wine.com\\/v6\\/aboutwine\\/mapof.aspx?winery=21\"},\"PriceMax\":39.9900,\"PriceMin\":39.9900,\"PriceRetail\":0,\"ProductAttributes\":[{\"Id\":38,\"Name\":\"Green Wines\",\"Url\":\"http:\\/\\/www.wine.com\\/v6\\/Green-Wines\\/wine\\/list.aspx?N=7155+38\",\"ImageUrl\":\"http:\\/\\/cache.wine.com\\/images\\/glo_icon_organic_big.gif\"},{\"Id\":611,\"Name\":\"Smooth &amp; Supple\",\"Url\":\"http:\\/\\/www.wine.com\\/v6\\/Smooth-andamp-Supple\\/wine\\/list.aspx?N=7155+611\",\"ImageUrl\":\"\"},{\"Id\":15419,\"Name\":\"Great Bottles to Give\",\"Url\":\"http:\\/\\/www.wine.com\\/v6\\/Great-Bottles-to-Give\\/gift\\/list.aspx?N=7151+15419\",\"ImageUrl\":\"http:\\/\\/cache.wine.com\\/images\\/glo_icon_gift_big.gif\"},{\"Id\":15424,\"Name\":\"Has Video\",\"Url\":\"http:\\/\\/www.wine.com\\/v6\\/Has-Video\\/wine\\/list.aspx?N=7155+15424\",\"ImageUrl\":\"http:\\/\\/cache.wine.com\\/images\\/glo_icon_video.gif\"}],\"Ratings\":{\"HighestScore\":94,\"List\":[]},\"Retail\":null,\"Vintages\":{\"List\":[]}}],\"Offset\":0,\"Total\":1,\"Url\":\"\"}}"},"http_version":"1.1"},"recorded_at":"Fri, 20 Jul 2012 03:46:03 GMT"}],"recorded_with":"VCR 2.2.2"}