{"http_interactions":[{"request":{"method":"get","uri":"http://services.wine.com/api/beta2/service.svc/json/catalog?filter=categories(490)&size=1&offset=1&sort=justIn%7Cdescending&apikey=d416c704b94a08167684e8f5d1d7e987","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"content-type":["application/json; charset=utf-8"]},"body":{"encoding":"US-ASCII","string":"{\"Status\":{\"Messages\":[],\"ReturnCode\":0},\"Products\":{\"List\":[{\"Id\":112901,\"Name\":\"Flowers Sea View Ridge Pinot Noir 2009\",\"Url\":\"http:\\/\\/www.wine.com\\/V6\\/Flowers-Sea-View-Ridge-Pinot-Noir-2009\\/wine\\/112901\\/detail.aspx\",\"Appellation\":{\"Id\":2371,\"Name\":\"Sonoma County\",\"Url\":\"http:\\/\\/www.wine.com\\/v6\\/Sonoma-County\\/wine\\/list.aspx?N=7155+101+2371\",\"Region\":{\"Id\":101,\"Name\":\"California\",\"Url\":\"http:\\/\\/www.wine.com\\/v6\\/California\\/wine\\/list.aspx?N=7155+101\",\"Area\":null}},\"Labels\":[{\"Id\":\"112901m\",\"Name\":\"thumbnail\",\"Url\":\"http:\\/\\/cache.wine.com\\/labels\\/112901m.jpg\"}],\"Type\":\"Wine\",\"Varietal\":{\"Id\":143,\"Name\":\"Pinot Noir\",\"Url\":\"http:\\/\\/www.wine.com\\/v6\\/Pinot-Noir\\/wine\\/list.aspx?N=7155+124+143\",\"WineType\":{\"Id\":124,\"Name\":\"Red Wines\",\"Url\":\"http:\\/\\/www.wine.com\\/v6\\/Red-Wines\\/wine\\/list.aspx?N=7155+124\"}},\"Vineyard\":{\"Id\":5388,\"Name\":\"Flowers\",\"Url\":\"http:\\/\\/www.wine.com\\/v6\\/Flowers\\/learnabout.aspx?winery=3531\",\"ImageUrl\":\"http:\\/\\/cache.wine.com\\/aboutwine\\/basics\\/images\\/winerypics\\/3531.jpg\",\"GeoLocation\":{\"Latitude\":-360,\"Longitude\":-360,\"Url\":\"http:\\/\\/www.wine.com\\/v6\\/aboutwine\\/mapof.aspx?winery=3531\"}},\"Vintage\":\"\",\"Community\":{\"Reviews\":{\"HighestScore\":0,\"List\":[],\"Url\":\"http:\\/\\/www.wine.com\\/V6\\/Flowers-Sea-View-Ridge-Pinot-Noir-2009\\/wine\\/112901\\/detail.aspx?pageType=reviews\"},\"Url\":\"http:\\/\\/www.wine.com\\/V6\\/Flowers-Sea-View-Ridge-Pinot-Noir-2009\\/wine\\/112901\\/detail.aspx\"},\"Description\":\"\",\"GeoLocation\":{\"Latitude\":-360,\"Longitude\":-360,\"Url\":\"http:\\/\\/www.wine.com\\/v6\\/aboutwine\\/mapof.aspx?winery=3531\"},\"PriceMax\":72.9900,\"PriceMin\":72.9900,\"PriceRetail\":58.9900,\"ProductAttributes\":[{\"Id\":611,\"Name\":\"Smooth &amp; Supple\",\"Url\":\"http:\\/\\/www.wine.com\\/v6\\/Smooth-andamp-Supple\\/wine\\/list.aspx?N=7155+611\",\"ImageUrl\":\"\"},{\"Id\":506,\"Name\":\"Boutique Wines\",\"Url\":\"http:\\/\\/www.wine.com\\/v6\\/Boutique-Wines\\/wine\\/list.aspx?N=7155+506\",\"ImageUrl\":\"http:\\/\\/cache.wine.com\\/images\\/glo_icon_boutique_big.gif\"}],\"Ratings\":{\"HighestScore\":94,\"List\":[]},\"Retail\":null,\"Vintages\":{\"List\":[]}}],\"Offset\":1,\"Total\":59268,\"Url\":\"\"}}"},"http_version":"1.1"},"recorded_at":"Fri, 20 Jul 2012 03:46:02 GMT"}],"recorded_with":"VCR 2.2.2"}