{"http_interactions":[{"request":{"method":"get","uri":"http://services.wine.com/api/beta2/service.svc/json/catalog?filter=categories(490+124)&size=100&offset=101&sort=justIn%7Cdescending&apikey=d416c704b94a08167684e8f5d1d7e987","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"content-type":["application/json; charset=utf-8"]},"body":{"encoding":"US-ASCII","string":"{\"Status\":{\"Messages\":[],\"ReturnCode\":0},\"Products\":{\"List\":[{\"Id\":112625,\"Name\":\"Torres Celeste 2008\",\"Url\":\"http:\\/\\/www.wine.com\\/V6\\/Torres-Celeste-2008\\/wine\\/112625\\/detail.aspx\",\"Appellation\":{\"Id\":9067,\"Name\":\"Ribera del Duero\",\"Url\":\"http:\\/\\/www.wine.com\\/v6\\/Ribera-del-Duero\\/wine\\/list.aspx?N=7155+109+9067\",\"Region\":{\"Id\":109,\"Name\":\"Spain\",\"Url\":\"http:\\/\\/www.wine.com\\/v6\\/Spain\\/wine\\/list.aspx?N=7155+109\",\"Area\":null}},\"Labels\":[{\"Id\":\"112625m\",\"Name\":\"thumbnail\",\"Url\":\"http:\\/\\/cache.wine.com\\/labels\\/112625m.jpg\"}],\"Type\":\"Wine\",\"Varietal\":{\"Id\":169,\"Name\":\"Tempranillo\",\"Url\":\"http:\\/\\/www.wine.com\\/v6\\/Tempranillo\\/wine\\/list.aspx?N=7155+124+169\",\"WineType\":{\"Id\":124,\"Name\":\"Red Wines\",\"Url\":\"http:\\/\\/www.wine.com\\/v6\\/Red-Wines\\/wine\\/list.aspx?N=7155+124\"}},\"Vineyard\":{\"Id\":8771,\"Name\":\"Miguel Torres\",\"Url\":\"http:\\/\\/www.wine.com\\/v6\\/Miguel-Torres\\/learnabout.aspx?winery=645\",\"ImageUrl\":\"\",\"GeoLocation\":{\"Latitude\":-360,\"Longitude\":-360,\"Url\":\"http:\\/\\/www.wine.com\\/v6\\/aboutwine\\/mapof.aspx?winery=645\"}},\"Vintage\":\"\",\"Community\":{\"Reviews\":{\"HighestScore\":0,\"List\":[],\"Url\":\"http:\\/\\/www.wine.com\\/V6\\/Torres-Celeste-2008\\/wine\\/112625\\/detail.aspx?pageType=reviews\"},\"Url\":\"http:\\/\\/www.wine.com\\/V6\\/Torres-Celeste-2008\\/wine\\/112625\\/detail.aspx\"},\"Description\":\"\",\"GeoLocation\":{\"Latitude\":-360,\"Longitude\":-360,\"Url\":\"http:\\/\\/www.wine.com\\/v6\\/aboutwine\\/mapof.aspx?winery=645\"},\"PriceMax\":44.9900,\"PriceMin\":19.9900,\"PriceRetail\":28.0000,\"ProductAttributes\":[{\"Id\":613,\"Name\":\"Big &amp; Bold\",\"Url\":\"http:\\/\\/www.wine.com\\/v6\\/Big-andamp-Bold\\/wine\\/list.aspx?N=7155+613\",\"ImageUrl\":\"\"}],\"Ratings\":{\"HighestScore\":0,\"List\":[]},\"Retail\":null,\"Vintages\":{\"List\":[]}},{\"Id\":118582,\"Name\":\"Punto Final Malbec Classico 2011\",\"Url\":\"http:\\/\\/www.wine.com\\/V6\\/Punto-Final-Malbec-Classico-2011\\/wine\\/118582\\/detail.aspx\",\"Appellation\":{\"Id\":2089,\"Name\":\"Argentina\",\"Url\":\"http:\\/\\/www.wine.com\\/v6\\/Argentina\\/wine\\/list.aspx?N=7155+112+2089\",\"Region\":{\"Id\":112,\"Name\":\"South America\",\"Url\":\"http:\\/\\/www.wine.com\\/v6\\/South-America\\/wine\\/list.aspx?N=7155+112\",\"Area\":null}},\"Labels\":[{\"Id\":\"118[...]
