// Place all the styles related to the wines controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap";

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;


/* wines index */

.category-filter {
  display: block;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

aside {

  section {
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:first-child {
      border: 0;
      padding-top: 0;

    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.6em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
    }
  }
}


.wines {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
}

.wine-label-small {
	text-align: center;
}

.wine-listing {
  vertical-align: middle;
}

.attribute {
  visibility: hidden;
  font-size: 0.8em;
}


