<li class="row">
	<span class="span1">
		<%= image_tag(wine.label(:thumb), alt: wine.name, class: "wine-label-small") %>
	</span>
	<%= link_to wine.name, wine %>
	<div>
		<% puts "bad wine id: #{wine.id}" if wine.varietal == nil %>
		<%= wine.varietal.name unless wine.varietal.name.nil? %> | 
		<%= wine.appellation.name unless wine.appellation.name.nil? %>
	</div>
	
</li>