<li class="wine_row">
	<span class="span2">
		<%= image_tag(wine.label(:thumb), alt: wine.name, class: 'wine-label-small') %>
	</span>
	<%= link_to wine.name, wine %>
	<div class="wine-listing">
		<span class="wine-name">
			<%= wine.varietal.name unless wine.varietal.nil? %> | </span>
		<span class ="appellation-name">
			<%= wine.appellation.nil? ? '(no appellation)' : wine.appellation.name %>
		</span>
	<!-- this is where we'll put the buttons partial -->
	</div>

	
</li>